     <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="m-4 p-5">
  
    <h1><%= @friend.first_name %> <%= @friend.last_name %></h1>
    <p> <%= @friend.email %> |
        <%= @friend.phone %> |
        <br><br>
    <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-outline-dark" %> |
    <%= link_to "Back", friends_path, class:"btn btn-outline-dark" %> |
    <%= link_to "Destroy", @friend, method: :delete, class:"btn  btn-outline-dark" %>
    <br><br><br>
  
</div>
