
   <div style="text-align:center;">
   <% if user_signed_in? %>

 <h1>Friends List</h1>
    <br/>

    <%= search_form_for @q, url: :friends do |f| %>

    <div class="form-group">
      <%= f.label :first_name_cont %>
      <%= f.search_field :first_name_cont %>
   
    <%= f.submit 'Search', class:"btn btn-primary" %>
  </div>
    <% end %>
    <br>


<table class="table table-striped table-bordered table-hover">
  <thead class="bg-info">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    
     <% if friend.user == current_user %>
    <tr>
      <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
    
      </td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.address %></td>
      
  
      <th><%= link_to 'Show', friend, class:"btn btn-dark" %></th>
      <th><%= link_to 'Edit', edit_friend_path(friend),class:"btn btn-dark" %></th>

      <th><%= link_to 'Delete',friend_path(friend), data: {turbo_method: :delete, turbo_confirm: :"Are you sure destroy this friend"}, class:"btn btn-dark" %></th>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @friends %>
 

<%= link_to "Add Friend", new_friend_path, class: "btn btn-primary"%>

<% else %>
    <h1>Please Sign-up/Sign-in Your Account</h1>

<% end %>

</div>
<br />