<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <%= link_to 'Home', root_path, class:'navbar-brand' %>

    <!-- <img src="<%#= asset_path("indore.jpg")%>" width="50", height="50"> -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <%= link_to 'About us', home_about_path, class:"navbar-brand" %>
       

     
          <%= link_to 'Friends', friends_path, class:'navbar-brand' %>
     
          <% if user_signed_in? %>
      
          <%= link_to 'Add Friend', new_friend_path, class:'navbar-brand' %>
       

          <%= link_to 'Edit Profile', edit_user_registration_path, class:'navbar-brand' %>
     

          <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete, 
             turbo_confirm: :"Are you sure want to log_out!!!"}, class:"navbar-brand" %>

          <% else %>
      
       
          <%= link_to "Sign in", new_user_session_path, class:"navbar-brand" %> 
          <% end %>
       


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-dark" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>